seed: 7
hvg_n_top_genes: 2000

spec:
  n_pcs: 20
  dcol_max_cells: 3000


cnmf:
  K: 50
  max_iter: 500
  init: nndsvda
  random_state: 7

traits:
  primary: MCH
  extras: [RDW, IRF]

manifold:
  mu_grid: [0.0, 0.1, 0.3, 1.0]  # used in ablations later

metrics:
  calib_bins: 10

qc:
  min_cells: 500
  min_genes: 200
  max_pct_mt: 15